mixin featitem(img, title)
    .dl-feat_item
        a(href='#').dl-feat_item_inner
            .dl-feat_item_head
                img.dl-feat_item_head_img(src=img alt=title)
                h5.dl-feat_item_head_h= title
            p.dl-feat_item_text Capture leads and manage your data social media interactions.

