footer.dl-footer 
    .dl-container.dl-footer_inner
        .dl-footer_social Follow us:
            ul.dl-footer_social_list
                li.dl-footer_social_list_item
                    a(href='#') 
                        +svgsprite('telegram')
                li.dl-footer_social_list_item
                    a(href='#') 
                        +svgsprite('twitter')
        .dl-footer_copyright © 2018, DataLight. All Rights Reserved.
        .dl-footer_decor
            +svgsprite('decor')