header.dl-header 
    .dl-container.dl-header_inner
        a.dl-header_logo(href='#')
            img.dl-header_img(src='datalight.svg' alt='Data Light')
        .dl-header_decor
            img.dl-header_img(src='decor.svg')