extends /_includes/layout

block title
    title Data Light Candles

block content
    .dl-content-header
        h1.dl-content-header_h Data Light Candles
        p.dl-content-header_lead. 
            Cryptocurrencies Data Analytics Platform
            #[span.dl-content-header_lead_accent launch soon]
    form.dl-form.js-form(method='post' action='backend/subscribe.php')
        .js-form_inner
            .dl-form_inputs
                input.dl-nfields(name='email' value='user@host.com')
                input.dl-nfields(name='text' value='info')
                input.dl-nfields(name='email3' value='info@example.com')
                input.dl-form_input(
                    type='email' 
                    name='email2'
                    placeholder='E-mail address' 
                    required 
                    autocomplete='off')
                button.dl-form_button(type='submit') 
                    +svgsprite('arrow')
                    | Subscribe
            p.dl-form_text Subscribe for closed beta
        p.dl-form_text._success.js-form_success. 
            Thanks for your interest!#[br]
            We'll inform you about closed beta soon.        
    img.dl-screen(src='screen.png' srcset='screen@2x.png 2x, screen@3x.png 3x')
    .dl-feat-header
        h3.dl-feat-header_h Data set
        p.dl-feat-header_lead In-depth analytics based on the full spectrum of data
    .dl-feat
        +featitem('market-data.svg', 'Market Data')
        +featitem('blockchain-data.svg', 'Blockchain Data')
        +featitem('media-data.svg', 'Media Data')
        +featitem('social-data.svg', 'Social Data')
        