*, :before, :after {
    position: relative;
}

body {
    margin:0;
    padding:0;

    background:$color-bg;
    color:$color-text;

    font-family:$font-family;
    font-size:$font-size;
    letter-spacing:$letter-spacing;
    line-height:$line-height;
    
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}

a {
    color:$color-link;
    cursor:pointer;
    @include transition(opacity);

    &:hover, &:focus {
        color: $color-link-hover;
        text-decoration: none;
        opacity: .8;
    }
}

* {
    &:focus {
        outline: none !important;
    }
}

.dl-nfields {
    display: none;
}