.dl-feat {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 108px;
    @media (min-width: $screen-sm) {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 84px;
    }
    @media (min-width: $screen-md) {
        flex-wrap: nowrap;
        margin-left: -30px;
        margin-right: -30px;
        margin-bottom: 155px;
    }
    @media (min-width: $screen-lg) {
        margin-left: -33px;
        margin-right: -33px;
    }
    @media (min-width: $screen-xl) {
        margin-left: -73px;
        margin-right: -73px;
        margin-bottom: 165px;
    }
    &_item {
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 47px;
        width: 50%;
        @media (min-width: $screen-sm) {
            padding-left: 60px;
            padding-right: 60px;
            margin-bottom: 78px;
        }
        @media (min-width: $screen-md) {
            padding-left: 30px;
            padding-right: 30px;
            width: 25%;
        }
        @media (min-width: $screen-lg) {
            padding-left: 3px;
            padding-right: 3px;
        }
        @media (min-width: $screen-xl) {
            padding-left: 23px;
            padding-right: 23px;
        }
        &_inner {
            display: block;
            @media (min-width: $screen-lg) {
                padding: 50px 30px;
                @include transition(all);
                &:hover {
                    background-color: $color-gray-light;
                }
            }
            @media (min-width: $screen-xl) {
                padding: 56px 50px 57px;
            }
        }
        &_head {
            margin-bottom: 15px;
            @media (min-width: $screen-sm) {
                display: flex;
                margin-bottom: 24px;
            }
            @media (min-width: $screen-md) {
                display: block;
                margin-bottom: 17px;
            }
            @media (min-width: $screen-lg) {
                display: flex;
                margin-bottom: 34px;
            }
            &_img {
                width: 40px;
                margin-bottom: 19px;
                @media (min-width: $screen-sm) {
                    width: 50px;
                    margin-bottom: 0;
                    margin-right: 16px;
                }
                @media (min-width: $screen-md) {
                    margin-bottom: 28px;
                }
                @media (min-width: $screen-lg) {
                    margin-bottom: 0;
                }
            }
            &_h {
                text-transform: uppercase;
                font-size: 11px;
                font-weight: 700;
                letter-spacing: 0.9px;
                color: #585d76;
                @media (min-width: $screen-sm) {
                    opacity: 0.7;
                    font-size: 12px;
                    letter-spacing: 0.7px;
                    color: #171e41;
                }
            }
        }
        &_text {
            margin-bottom: 0;
            font-size: 13px;
            line-height: 1.62;
            color: #171e41;
            opacity: .5;
            @media (min-width: $screen-sm) {
                font-size: 14px;
                line-height: 1.64;
                letter-spacing: 0.2px;
            }
        }
    }
}